h1{
    text-align: center;
    color: rgb(53, 2, 30);
}

table{
    border-collapse: collapse;
    width: 90%;
    border-spacing: 0;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
th, tr, td{
    padding: 12px 16px;
    border: 2px solid #767676;
}
th{
    border: 1px solid #000;
    background-color: crimson;
}

div.btns{
    display: flex;
    gap: 8px;
    justify-content: center
}

button{
    padding: 0.4rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 3px #333;
    transform: translateY(-2px) scale(1);
}
button:hover{
    box-shadow: none;
    transform: translateY(0) scale(0.98);
}
button:nth-child(1){
    background-color: #0d6efd;
    color: #fff;
}
button:nth-child(2){
    background-color: #0d6efd;
    color: #fff;
}
.btn button{
    position: fixed;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 3px #333;
    transform: translateY(-2px) scale(1);
    background-color: #0d6efd;
    color: #fff;
    margin-top: 10px;
    right: 10px;
}
.btn button:hover{
    box-shadow: none;
    transform: translateY(0) scale(0.98);
}
.popup-msg {
    position: fixed;      
    top: 20px;             
    right: 20px;          
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 1000;        
    animation: fadeIn 0.5s;
}
.success-msg {
    background-color: #28a745;
}
.error-msg {
    background-color: #dc3545;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}